*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 22px;
}
img{
    height: 116px;
    width: 172px;
    display: inline-block;
}
header{
      margin: 20px;
    display: flex;
  }
li{
    display: inline-block;
    text-decoration: none;
    font-size: 21px;
    /*vertical-align: center;*/
    margin: 33px 30px;
}
header ul{
    margin-left: 120px;
}
.menu{
    display: inline;
    text-align: center;
    /*justify-content: center;*/
}
.menu ul{
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
}
main{
    padding: 76px 72px 114px 110px ;
}
p{
    font-size: 21px
}
h1{
    text-align: center;
    padding-bottom: 100px;
}
footer p{
    text-align: center;
}
footer{
    padding: 20px;
}

